body{
  margin:0;
  font-family:Arial;
  background:#0f172a;
  color:white;
  text-align:center;
}

.page{
  padding-bottom:80px;
}

.menu{
  position:fixed;
  bottom:0;
  width:100%;
  display:flex;
  justify-content:space-around;
  background:#111827;
  padding:10px;
}

button{
  padding:10px;
  margin:5px;
  background:#2563eb;
  color:white;
  border:none;
  border-radius:8px;
}

input, select{
  display:block;
  margin:10px auto;
  padding:8px;
  width:80%;
}

.box{
  margin-top:20px;
}
