body{
    margin:0;
    height:100vh;
    background:#111;
    font-family: Arial;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
}

/* TIMER */
#timer{
    color:#00ff88;
    font-size:20px;
}

/* SMALL BOX */
#box{
    width:120px;
    height:120px;
    background:#00ff88;
    color:#000;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:28px;
    font-weight:bold;
    border-radius:10px;
    transition:0.3s;
}
